---
layout: post
---
{%- capture author_page -%}
  https://github.com/{{ page.github_user }}
{%- endcapture -%}
{%- capture github_url -%}
  {{ author_page }}/{{ page.github_repo }}
{%- endcapture -%}
{%- capture download_url -%}
  {{ github_url }}/releases/download/{{ page.download_version }}/{{ page.download_file }}
{%- endcapture -%}

{%- assign date_format = "%d-%m-%Y" -%}
<a href="/">&lt; Back</a>
<h3>
  {{ page.title }}, by
  <a href="{{ author_page }}" target="_blank" rel="noopener noreferrer">
    {{ page.author }}
  </a>
  [ {{ page.categories }} - added {{ page.date | date: date_format }} ]
</h3>

{{ content }}

<p class="download">
  <a href="{{ download_url }}" class="download-link">Download</a>
  <br/>
  <a href="{{ github_url }}"
     target="_blank"
     rel="noopener noreferrer"
     class="source-link">
    Source code
  </a>
</p>
